<footer class="footer1 ">
    <div class="f-info">
        <div class="f-info-icons">
            <a href="https://www.linkedin.com/in/om-koli-577ab2244/"><i class="fa-brands fa-linkedin"></i></a>
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
        </div>

        <div class="f-info-text"> &#169; NextDestination Praivate Limited</div>

        <div class="f-info-links">
            <a href="/">Privacy</a>
            <a href="/">Terms</a>
        </div>
    </div>
</footer>