<% layout("layouts/boilerplate.ejs") %>
<body>
    <div class="alert alert-danger alert-dismissible  mt-3" >
        <%= message %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" ></button>
    </div>
</body>