<% layout("layouts/boilerplate.ejs") -%>
<body>
    <form method="post" action="/users/login" novalidate class="needs-validation">
        <div class="col-8 offset-2">
        <div class="mb-3">
            <label for="title" class="form-label">UserName:- </label>
            <input type="text" name="username" id="title" placeholder="Enter a username or email" class="form-control" required>
            <div class="invalid-feedback">
               Please choose a UserName or Email
            </div>
        </div>

        <div class="mb-3">
            <label for="Password" class="form-label">Password:- </label>
            <input type="password" name="password" id="password" placeholder="Enter a Password" class="form-control" required></textarea>
            <div class="invalid-feedback">
                Password is required
            </div>
        </div>

        <button class="btn btn-outline-success">Submit</button>
    </div>
    </form>
</body>