<% layout("/layouts/boilerplate.ejs") -%>
<body>
    <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="col-8 offset-2">
            <h1>Create a new listing</h1>
        <div class="mb-3">
            <label for="title" class="form-label">Title:- </label>
            <input type="text" name="listing[title]" id="title" placeholder="Enter a title" class="form-control" required>
            <div class="invalid-feedback">
               Please choose a title.
            </div>
        </div>
       
        <div class="mb-3">
            <label for="description" class="form-label">Description:- </label>
            <textarea name="listing[description]" id="description" placeholder="Enter a description" class="form-control" required></textarea>
            <div class="invalid-feedback">
                Description is required
            </div>
        </div>
        
        <div class="mb-3 col">
            <label for="url" class="form-label">Images</label>
            <input type="file" name="listing[image]" multiple class="form-control" id="url" required>
        </div>  
     
        <div class="row">
        <div class="mb-3 col">
            <label for="price" class="form-label">Price:- </label>
            <input type="text" name="listing[price]" id="price" placeholder="Enter a price" class="form-control" required>
            <div class="invalid-feedback">
                Please enter a valid price.
            </div>
        </div>
        
        <div class="mb-3 col">
            <label for="location" class="form-label">Location:- </label>
            <input type="text" name="listing[location]" id="location" placeholder="Enter a location" class="form-control" required>
            <div class="invalid-feedback">
                Location is required
            </div>
        </div>  
        </div>  
        
        <div class="row">
        <div class="mb-3 col">
            <label for="Category" class="form-label">Category</label>
            <select name="listing[category]" id="Category" class="form-control" placeholder="ok">
                <option value="">Choose Option</option>
                <option value="trending">Trending</option>
                <option value="rooms">Rooms</option>
                <option value="iconic city">Iconic city</option>
                <option value="mountain">Mountain</option>
                <option value="castle">Castle</option>
                <option value="amazing poll">Amazing poll</option>
                <option value="Camping">Camping</option>
                <option value="farms">Farm</option>
                <option value="arctic">Arctic</option>
            </select>
            <div class="invalid-feedback">
                Category is required
            </div>
        </div>

        <div class="mb-3 col">
            <label for="country" class="form-label">Country</label>
            <input type="text" name="listing[country]" id="country" placeholder="Enter a contry" class="form-control" required>
            <div class="invalid-feedback">
                Country is required
            </div>
        </div>
        </div>

        <button class="btn btn-success">Submit</button>
        <br>
        </div>
    </form>
</body>
